<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	Memes
{% endblock %}

{% block body_block %}
	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
			{% if meme %}
				<div class="slider">
					<div class="img-box">
						<img src="{{MEDIA_URL}}{{meme.image}}" class="slider-img" width="300" height="400"/>
					</div>
					<a href="javascript:history.back()">Previous</a>
					<a href="{% url 'rango:allmemes' meme.slug %}">Next</a>
				</div>
			{% else %}
				<strong>There are no memes!</strong>
			{% endif %}
		</div>
	</body>
{% endblock %}
