<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	Memes
{% endblock %}

{% block body_block %}
	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
			{% for meme in page_obj %}
				<div class="img-box">
					<img src="{{MEDIA_URL}}{{meme.image}}" class="slider-img" width="300" height="400"/>
				</div>
			{% endfor %}
			<div class ="pagination">
				<span class="step-links">
			        {% if page_obj.has_previous %}
			            <a href="?page=1">&laquo; first</a>
			            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			        </span>

			        {% if page_obj.has_next %}
			            <a href="?page={{ page_obj.next_page_number }}">next</a>
			            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			        {% endif %}
		    	</span>
			</div>
		</div>
	</body>
{% endblock %}
