<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	Category
{% endblock %}

{% block body_block %}
	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
			{% if category %}
				<h1>{{ category.name }}</h1>
				{% if memes %}
					{% for meme in memes %}
						<a href="{% url 'rango:allmemes' meme.slug %}">
						<img src= "{{MEDIA_URL}}{{meme.image}}" alt="{{meme.title}}" width="300" height="400"/>
					{% endfor %}
				{% else %}
					<strong>No memes currently in category.</strong>
				{% endif %}
					</div>

				{% if user.is_authenticated %}
					<a href="{% url 'rango:upload' category.slug %}">Add Meme</a> <br />
				{% endif %}
			{% else %}
				The specified category does not exist.
			{% endif %}
		</div>
	</body>
{% endblock %}
