<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Homepage
{% endblock %}
	
{% block body_block %}
	<h1>Rango says...</h1>
	<div>
		{% if user.is_authenticated %}
			howdy {{ user.username }}!
		{% else %}
			hey there partner!
		{% endif %}
		<br/>
		
		<strong>{{ boldmessage }}</strong><br />
	</div>
	
	<div>
		<h2>Categories</h2>
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li>
				<a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	</div>
		
		
	<div>
		<h2>Most Liked Meme</h2>
	{% if memes %}
		<ul>
			{% for meme in memes %}
				<img src= "{{MEDIA_URL}}{{meme.image}}" alt="{{meme.title}}"/>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no memes present.</strong>
	{% endif %}
	</div>
{% endblock %}
	
