{% extends 'rango/base.html' %}
{% load static %}
<style>
form {text-align: center;}
</style>
{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-5">
		<h1 class="jumbotron-heading">Register</h1>
	</div>
	{% if registered %}
		Rango says: <strong>thank you for registering!</strong>
		<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
	{% else %}
		Rango says: <strong>register here!</strong><br />
		<!--<div class="form">-->
			<form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">

				{% csrf_token %}

				{{ user_form.as_p }}
				{{ profile_form.as_p }}

				<input type="submit" name="submit" value="Register" />
			</form>
		<!--</div>-->
	{% endif %}
{% endblock %}