{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	Add a Meme
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">Add a Page to {{category.name}}</h1>
		</div>
	</div>
	<div class="container">
		<form class="form-control-file" method="post" enctype="multipart/form-data">
        	{% csrf_token %}
        	{{ form.as_p }}
        	<button type="submit" class="btn btn-primary">Submit</button>
    	</form>
	</div>
{% endblock %}